body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f5f1;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #6f4c3e;
}

h2 {
    margin-top: 40px;
    color: #6f4c3e;
    border-bottom: 2px solid #e2b606;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li img {
    border-radius: 8px;
    margin-right: 15px;
}

h3 {
    margin: 0;
    color: #6f4c3e;
}

p {
    margin: 5px 0;
}

button {
    background-color: #e2b606;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c19b0f;
}
